$bgBlackColor: #0e0f0f;
$bgLightBlackColor: #181a1b;
$bgDarkGreyColor: #2e2e2e;
$primaryColor: #2dc7bd;
$blackColor: #000000;
$greyColor: #808080;
$lightGreyColor: #d3d3d3;
$whiteColor: #ffffff;
$milkColor: #eeefef;
$mediumGreyColor: #d7d9d9;
